{% extends 'base.html.twig' %}
{% block content %}
	<div class="actus-une">
		<div class="actus-une-img" style="background-image: url({{ lastArticle.cover }});"></div>
		<div class="actus-une-content">
			<div class="content-narrow-header bottom-div">
				<h4 class="content-narrow-title">Actualités</h4>
				{% include 'components/buttons/nav-arrow-buttons.html.twig' with {arrows:{
					'before': {},
					'after': {'path': ''}
				}}%}
			</div>
			<h4 class="actus-une-title">{{ lastArticle.title }}</h4>
			<div class="actus-une-date">{{ lastArticle.createdAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</div>
			{% include 'components/buttons/full-block-width-button.html.twig' with {button_path: 'actualites', button_label: 'toutes les actualités'} %}
		</div>
	</div>
	<div class="content home">
		<div class="content-une-block">
			<img src="{{ asset('media/layout/Fichier 3.svg') }}" alt="" class="content-block-img" height="50">
			<div class="content-block-infos">
				<h3 class="content-narrow-title dark">Comment participer ?</h3>
				<h4 class="content-blocks-title">En quelques minutes, devenez un observateur des saisons !</h4>
				<p class="content-blocks-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat...</p>
				<a href="{{ path('participer') }}" class="content-block-link">
					<div class="home-link">En savoir plus</div>
				</a>
			</div>
		</div>
		<div class="next-event">
			<div class="content-narrow-header bottom-div">
				<h4 class="content-narrow-title orange">Évènements</h4>
				{% include 'components/buttons/nav-arrow-buttons.html.twig' with {arrows:{
					'before': {},
					'after': {'path':''},
					'arrow_color': 'orange',
					'borders': 'light'
				}} %}
			</div>
			<div class="next-event-descr">{{ lastEvent.title }}</div>
			<div>
				{% set startDate = '' %}
				{% if lastEvent.startDate|date("Y") != lastEvent.endDate|date("Y") %}
					{% set startDate = (lastEvent.startDate|localizeddate('none', 'none', 'fr', null, 'd MMMM Y')) ~ ' - ' %}
				{% elseif lastEvent.startDate|date("m") != lastEvent.endDate|date("m") %}
					{% set startDate = (lastEvent.startDate|localizeddate('none', 'none', 'fr', null, 'd MMMM')) ~ ' - ' %}
				{% elseif lastEvent.startDate|date("j") != lastEvent.endDate|date("j") %}
					{% set startDate = (lastEvent.startDate|localizeddate('none', 'none', 'fr', null, 'd')) ~ ' - ' %}
				{% endif %}

				<h5 class="next-event-title">{{ startDate ~ lastEvent.endDate|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</h5>
				<div class="next-event-city">{{ lastEvent.location }}</div>
			</div>
			{% include 'components/buttons/full-block-width-button.html.twig' with {button_path: 'evenements', button_label: 'tous les évènements', button_color: 'orange'} %}
		</div>
	</div>
	<div class="content home">
		<div class="now" style="background-image: url('https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2540624b02e49e654a486_ben-neale-241160-unsplash.jpg');">
			<div class="content-block-infos horiz">
				{% include 'components/buttons/nav-arrow-buttons.html.twig' with {arrows:{
					'after': {'path': ''},
					'borders': 'no-border'
				}} %}
				<div class="infos-insert">
					<h3 class="content-narrow-title">à Observer en ce moment</h3>
					<h4 class="content-blocks-title small">Sorbier des oiseleurs</h4>
					<a href="{{ path('especes') }}" class="home-link green pointer">Comment l'observer ?</a>
				</div>
			</div>
		</div>
		<div class="recent-obs">
			<div class="content-narrow-header obs">
				<h4 class="content-narrow-title dark">Observations récentes</h4>
			</div>
			<ul class="ods-list-unstyled">
				<li>
					<a href="#" class="recent-obs-item">
						<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720b24b02e7d145510f5_small01.jpg" alt="" width="80">
						<div class="recent-obs-item-content first">
							<div class="recent-obs-title">Chêne blanc</div>
							<div class="recent-obs-item-stade">Sénescence stade 91</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="recent-obs-item">
						<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a0b5f0b267a268acb_small05.jpg" alt="" width="80">
						<div class="recent-obs-item-content">
							<div class="recent-obs-title">Chêne blanc</div>
							<div class="recent-obs-item-stade">Sénescence stade 91</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="recent-obs-item">
						<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a0b5f0b1baf268acc_small04.jpg" alt="" width="80">
						<div class="recent-obs-item-content">
							<div class="recent-obs-title">Chêne blanc</div>
							<div class="recent-obs-item-stade">Sénescence stade 91</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="recent-obs-item">
						<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720ad0cadbb55830878c_small02.jpg" alt="" width="80">
						<div class="recent-obs-item-content">
							<div class="recent-obs-title">Chêne blanc</div>
							<div class="recent-obs-item-stade">Sénescence stade 91</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="recent-obs-item">
						<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a8eff8b09290b7bd7_small03.jpg" alt="" width="80">
						<div class="recent-obs-item-content">
							<div class="recent-obs-title">Chêne blanc</div>
							<div class="recent-obs-item-stade">Sénescence stade 91</div>
						</div>
					</a>
				</li>
			</ul>
			{% include 'components/buttons/full-block-width-button.html.twig' with {button_path: 'stations', button_label: 'ajoutez une observation'} %}
		</div>
	</div>
	<div class="number-obs-container">
		<div class="banner-number">
			<div class="number-obs-infos">
				<div class="number-obs">2138</div>
				<div class="number-obs-period">Observations en 2018</div>
			</div>
			<div class="mosaic">
				<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a0b5f0b1baf268acc_small04.jpg" id="w-node-2fd297a8c71e-1ac511a1" alt="">
				<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a0b5f0b267a268acb_small05.jpg" id="w-node-9131b95af2c3-1ac511a1" alt="">
				<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720b24b02e7d145510f5_small01.jpg" id="w-node-acc6c76e6265-1ac511a1" alt="">
				<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720ad0cadbb55830878c_small02.jpg" id="w-node-324c6d4a3741-1ac511a1" alt="">
			</div>
		</div>
	</div>
{% endblock %}
