{% extends 'base.html.twig' %}
{% block content %}
	{% if lastNewsPosts[0] %}
		<div class="actus-une">
			{% for lastNewsPost in lastNewsPosts %}
				<div class="actus-une-img {{ not loop.first ? 'hidden' }}" style="background-image: url({{ lastNewsPost.cover }});"></div>
			{% endfor %}
			<div class="actus-une-content">
				<div class="content-narrow-header bottom-div">
					<h4 class="content-narrow-title">Actualités</h4>
					{% include 'components/buttons/nav-arrow-buttons.html.twig' with {arrows:{
						'target': 'actu-une-container',
						'directions': ['prev', 'next'],
						'isInactive': 2 > lastNewsPosts|length
					}} %}
				</div>
				{% for lastNewsPost in lastNewsPosts %}
					<a href="{{ path("news_post_single_show", {'slug': lastNewsPost.slug}) }}" class="actu-une-container {{ not loop.first ? 'hidden' }}">
						<h4 class="actus-une-title">{{ lastNewsPost.title }}</h4>
						<div class="actus-une-date">{{ lastNewsPost.createdAt|format_datetime(pattern='d MMMM Y',locale='fr') }}</div>
					</a>
				{% endfor %}
				{% include 'components/buttons/full-block-width-button.html.twig' with {button_path: 'news_posts_list', button_label: 'toutes les actualités'}%}
			</div>
			{% if is_granted("ROLE_USER") %}
				<div class="actionbar mb-0 mx-0 px-2 actionbarHomePage">
					<a href="{{ path('news_post_create') }}" class="squared-button add-circle-icon buttonHomePage">
						<div class="squared-button-label buttonLabelNews">ajouter
						</div>
					</a>
				</div>
			{% endif %}
		</div>
	{% else %}
		<div class="actus-une">
			<div class="actus-une-img" style="background-image: url({{ asset('media/layout/planet-grid-leaf.svg') }});background-position: 50% 50%;background-size: 50%"></div>
			<div class="actus-une-content">
				<div class="content-narrow-header bottom-div">
					<h4 class="content-narrow-title">Actualités</h4>
				</div>
				<div class="actus-une-title">Pas encore d’actualités</div>
			</div>
		</div>
	{% endif %}

	<div class="content home">

		<div class="content-une-block">
			<img src="{{ asset('media/layout/Fichier 3.svg') }}" alt="" class="content-block-img" height="50">
			<div class="content-block-infos">
				<h3 class="content-narrow-title dark">Comment participer ?</h3>
				<h4 class="content-blocks-title">En quelques minutes, devenez un observateur des Saisons !</h4>
				<p class="content-blocks-text">Pour participer à l’Observatoire des Saisons, il vous suffit de suivre 3 étapes : prendre connaissance du protocole d’observation, choisir des espèces à observer et saisir vos observations phénologiques !</p>
				<a href="{{ path('participer') }}" class="content-block-link">
					<div class="home-link">En savoir plus</div>
				</a>
			</div>
		</div>
		{% if lastEventPosts[0] %}
			<div class="next-event">
				<div class="content-narrow-header bottom-div">
					<h4 class="content-narrow-title orange">Évènements</h4>
					{% include 'components/buttons/nav-arrow-buttons.html.twig' with {arrows: {
						'target': 'next-event-container',
						'directions':['prev','next'],
						'arrow_color': 'orange',
						'borders': 'light',
						'isInactive': 2 > lastNewsPosts|length
					}} %}
				</div>
				{% for lastEventPost in lastEventPosts %}
					<a href="{{ path("event_post_single_show", {'slug': lastEventPost.slug}) }}" class="next-event-container {{ not loop.first ? 'hidden' }}">
						<div class="next-event-descr">{{ lastEventPost.title }}</div>
						<div>
							<h5 class="next-event-title">{{ eventDatesDisplay(lastEventPost.startDate,lastEventPost.endDate) }}</h5>
							<div class="next-event-city">{{ lastEventPost.location }}</div>
						</div>
					</a>
				{% endfor %}
				{% include 'components/buttons/full-block-width-button.html.twig' with {button_path: 'event_posts_list', button_label: 'tous les évènements', button_color: 'orange'} %}
				{% if is_granted("ROLE_USER") %}
					<div class="actionbar mb-0 mx-0 px-2 actionbarHomePage">
						<a href="{{ path('event_post_create') }}" class="squared-button add-circle-icon buttonHomePage">
							<div class="squared-button-label buttonLabelEvent">
								ajouter
							</div>
						</a>
					</div>
				{% endif %}

			</div>
		{% else %}
			<div class="next-event">
				<div class="content-narrow-header bottom-div">
					<h4 class="content-narrow-title orange">Évènements</h4>
				</div>
				<div class="next-event-descr">Pas d'évènements annoncés en ce moment</div>
			</div>

		{% endif %}

	</div>
	<div class="content home">
		{% if featuredSpecies is not empty %}
			{% for id,eventSpecies in featuredSpecies %}
				{% include 'components/featuredSpecies.html.twig' %}
			{% endfor %}
		{% else %}
			<div class="now featured-species species" style="background-image: url({{ asset('/media/layout/winter.svg')}});background-size: contain;">
				<div class="content-block-infos horiz">
					<div class="infos-insert">
						<h3 class="content-narrow-title">à Observer en ce moment</h3>
						<h4 class="content-blocks-title small">Bientôt de nouvelles espèces à observer</h4>
					</div>
				</div>
			</div>
		{% endif %}
		<div class="recent-obs">
			<div class="content-narrow-header obs">
				<h4 class="content-narrow-title dark">Observations récentes</h4>
			</div>
			<ul class="ods-list-unstyled">
				{% for obs in lastObservations %}
					{% set obsIndividual = obs.individual %}
					{% set obsSpecies = obsIndividual.species %}
					{% set obsEvent = obs.event %}
					<li>
						<a href="{{ path('stations_show', {'slug': obsIndividual.station.slug }) }}#{{ obsSpecies.vernacularName|slugify }}" class="recent-obs-item">
							<img src="/media/species/{{ obsSpecies.picture }}{{ obsSpecies.type.id == 1 ? "_#{obsEvent.stadeBbch|first}" }}.jpg" alt="{{ obsSpecies.vernacularName|capitalize }} - {{ obs.user.name|upper }} - {{ obs.date|date('d/m/Y') }}" width="80">
							<div class="recent-obs-item-content first">
								<div class="recent-obs-title">{{ obsSpecies.vernacularName|capitalize }}</div>
								<div class="recent-obs-item-stage">{{ obsEvent.name|capitalize }} {{ obsEvent.stadeBbch != null ? "stade #{obsEvent.stadeBbch}" }}</div>
							</div>
						</a>
					</li>
				{% endfor %}
			</ul>
			{% if app.user %}
				{% include 'components/buttons/full-block-width-button.html.twig' with {button_path: 'my_stations', button_label: 'ajoutez une observation'} %}
			{% else %}
				{% include 'components/buttons/full-block-width-button.html.twig' with {button_path: 'participer', button_label: 'comment participer'} %}
			{% endif %}
		</div>
	</div>
	<div class="number-obs-container">
		<div class="banner-number">
			<div class="number-obs-infos">
				<div class="number-obs">{{ obsCount }}</div>
				<div class="number-obs-period">Observation{{ obsCount > 1 ? 's' }} en {{ "now"|date("Y") }}</div>
			</div>
			<div class="mosaic">
				{% for i in 0..3 %}
					<div style="background-image: url('{{ lastObservationsWithImages[i].picture|default }}');"></div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
