{% extends 'base.html.twig' %}
{% block content %}
	{% if lastArticles[0] %}
		<div class="actus-une">
			{% for lastArticle in lastArticles %}
				<div class="actus-une-img {{ not loop.first ? 'hidden' }}" style="background-image: url({{ lastArticle.cover }});"></div>
			{% endfor %}
			<div class="actus-une-content">
				<div class="content-narrow-header bottom-div">
					<h4 class="content-narrow-title">Actualités</h4>
					{% set after = lastArticles[1] is defined ? {'path' : ''} : {} %}
					{% include 'components/buttons/nav-arrow-buttons.html.twig' with {arrows:{
						'target': 'actu-une-container',
						'before': {},
						'after': after
					}} %}
				</div>
				{% for lastArticle in lastArticles %}
					<a href="{{ path("actualites_show", {'slug': lastArticle.slug}) }}" class="actu-une-container {{ not loop.first ? 'hidden' }}">
						<h4 class="actus-une-title">{{ lastArticle.title }}</h4>
						<div class="actus-une-date">{{ lastArticle.createdAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</div>
					</a>
				{% endfor %}
				{% include 'components/buttons/full-block-width-button.html.twig' with {button_path: 'actualites', button_label: 'toutes les actualités'} %}
			</div>
		</div>
	{% endif %}

	<div class="content home">
		<div class="content-une-block" {{ false == lastEvents[0] ? 'style=width:100%;'}}>
			<img src="{{ asset('media/layout/Fichier 3.svg') }}" alt="" class="content-block-img" height="50">
			<div class="content-block-infos">
				<h3 class="content-narrow-title dark">Comment participer ?</h3>
				<h4 class="content-blocks-title">En quelques minutes, devenez un observateur des saisons !</h4>
				<p class="content-blocks-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat...</p>
				<a href="{{ path('participer') }}" class="content-block-link">
					<div class="home-link">En savoir plus</div>
				</a>
			</div>
		</div>
		{% if lastEvents[0] %}
			<div class="next-event">
				<div class="content-narrow-header bottom-div">
					<h4 class="content-narrow-title orange">Évènements</h4>
					{% set after = lastEvents[1] is defined ? {'path' : ''} : {} %}
					{% include 'components/buttons/nav-arrow-buttons.html.twig' with {arrows: {
						'target': 'next-event-container',
						'before': {},
						'after': after,
						'arrow_color': 'orange',
						'borders': 'light'
					}} %}
				</div>
				{% for lastEvent in lastEvents %}
					<a href="{{ path("evenements_show", {'slug': lastEvent.slug}) }}" class="next-event-container {{ not loop.first ? 'hidden' }}">
						<div class="next-event-descr">{{ lastEvent.title }}</div>
						<div>
							<h5 class="next-event-title">{{ eventDatesDisplay(lastEvent.startDate,lastEvent.endDate) }}</h5>
							<div class="next-event-city">{{ lastEvent.location }}</div>
						</div>
					</a>
				{% endfor %}
				{% include 'components/buttons/full-block-width-button.html.twig' with {button_path: 'evenements', button_label: 'tous les évènements', button_color: 'orange'} %}
			</div>
		{% endif %}
	</div>
	<div class="content home">
		<div class="now species" style="background-image: url('https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2540624b02e49e654a486_ben-neale-241160-unsplash.jpg');">
			<div class="content-block-infos horiz">
				{% include 'components/buttons/nav-arrow-buttons.html.twig' with {arrows:{
					'target': 'species',
					'after': {},
					'borders': 'no-border'
				}} %}
				<div class="infos-insert">
					<h3 class="content-narrow-title">à Observer en ce moment</h3>
					<h4 class="content-blocks-title small">Sorbier des oiseleurs</h4>
					<a href="{{ path('especes') }}" class="home-link green pointer">Comment l'observer ?</a>
				</div>
			</div>
		</div>
		<div class="recent-obs">
			<div class="content-narrow-header obs">
				<h4 class="content-narrow-title dark">Observations récentes</h4>
			</div>
			<ul class="ods-list-unstyled">
				{% for obs in lastObservations %}
					{% set obsIndividual = obs.individual %}
					{% set obsSpecies = obsIndividual.species %}
					{% set obsEvent = obs.event %}
					<li>
						<a href="{{ path('stations_show', {'slug': obsIndividual.station.slug }) }}#{{ obsSpecies.vernacularName|slugify }}" class="recent-obs-item">
							<img src="/media/species/{{ obsSpecies.picture }}{{ obsSpecies.type.id == 1 ? "_#{obsEvent.stadeBbch|first}" }}.jpg" alt="{{ obsSpecies.vernacularName|capitalize }} - {{ obs.user.name|upper }} - {{ obs.obsDate|date('d/m/Y') }}" width="80">
							<div class="recent-obs-item-content first">
								<div class="recent-obs-title">{{ obsSpecies.vernacularName|capitalize }}</div>
								<div class="recent-obs-item-stage">{{ obsEvent.name|capitalize }} {{ obsEvent.stadeBbch != null ? "stade #{obsEvent.stadeBbch}" }}</div>
							</div>
						</a>
					</li>
				{% endfor %}
			</ul>
			{% include 'components/buttons/full-block-width-button.html.twig' with {button_path: 'stations', button_label: 'ajoutez une observation'} %}
		</div>
	</div>
	<div class="number-obs-container">
		<div class="banner-number">
			<div class="number-obs-infos">
				<div class="number-obs">{{ obsCount }}</div>
				<div class="number-obs-period">Observation{{ obsCount > 1 ? 's' }} en {{ "now"|date("Y") }}</div>
			</div>
			<div class="mosaic">
				{% for i in 0..3 %}
					<div style="background-image: url('{{ lastObservationsWithImages[i].picture }}');"></div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
