{#
    #: optionnal,
    *: required,
    |: default

    side_block||component_data*: object
        type#: string (i.e. 'search' or 'title') | 'title'
        text(type==search: #, else *): string
#}

{% set type = side_block.type|default('title') %}
<div class="actionbar-list-block {{ type == 'search' ? 'search' }}">
    {% if type == 'search' %}
        <div class="search-form ods-form">
            <form id="station-search-form" class="search-form" name="station-search-form" action="{{ path('stations-search') }}" method="post">
                <input id="station-search-field" type="text" class="search-field" value="{{ search|default }}" maxlength="256" name="stations-search" placeholder="{{ side_block.text|default }}">
            </form>
        </div>
    {% else %}
        <div class="actionbar-title">{{ side_block.text|raw }}</div>
    {% endif %}
</div>