{#
    #: optionnal,
    *: required,
    [int..int]: array indexes ([...] if no precise length defined)

    tabs_holder*: array
        classAttr#: string
        tabs*: Array
            [...](tab*) object
                title*: string
                reference#: string
#}
<div class="tabs-holder{{ tabs_holder.classAttr|default }}" data-active="{{ tabs_holder.tabs[0]['reference']|default('all') }}">
    {% for tab in tabs_holder.tabs|default %}
        <div class="tab {{ not loop.first ? 'not' }}" data-tab="{{ tab.reference|default('all') }}">{{ tab.title }}</div>
    {% endfor %}
</div>
