{#
    #: optionnal,
    *: required,
    [int..int]: array indexes ([...] if no precise length defined)

    route#: string
    tabs_holder# (defined if 'route' not in ['stations', 'observations'] defined below): array
        [...](tab*) object
            title*: string
            reference#: string
#}

{% if route in ['stations', 'observations'] %}
    {% set tabs_holder = [{'title':"Toutes les #{route}"}, {'title':"Mes #{route}", 'reference': user_id}] %}
{% endif %}

<div class="tabs-holder{{ route == 'stations' ? ' list' }}" data-active="{{ tabs_holder[0]['reference']|default('all') }}">
    {% for tab in tabs_holder %}
        <div class="tab {{ not loop.first ? 'not' }}" data-tab="{{ tab.reference|default('all') }}">{{ tab.title }}</div>
    {% endfor %}
</div>
