<div class="dual-blocks-container">
    {% for button in buttons %}
        {% set dataAttributesString = '' %}
        {% set disable = false %}
        {% if button.data_attr is defined and button.data_attr is not empty %}
            {% for dataAttr in button.data_attr %}
                {% if dataAttr.name == 'req-login' and dataAttr.value == 'true' %}
                    {% set disable = (app.user.id is not defined) %}
                {% else %}
                    {% set dataAttributesString = "#{dataAttributesString} data-#{dataAttr.name}\=#{dataAttr.value|replace({' ':'&nbsp;'})} " %}
                {% endif %}
            {% endfor %}
        {% endif %}
        
        <a href="{{ button.url|default }}" class="dual-squared-button {{ button.icon }}-icon {{ button.action|default }}{{ disable ? ' disabled' }}" {{ dataAttributesString }} {{ disable ? 'style=cursor:not-allowed; aria-disabled=true title="connexion obligatoire"' }}>
            <div class="squared-button-label">{{ button.label }}</div>
        </a>
       
    {% endfor %}
</div>