<div class="saisie-container{{ isPage|default(false)? ' page' }}">
	<h3 class="saisie-header">
		{% block form_title%}{% endblock %}
	</h3>

	<div class="saisie ods-form">
		{{ form_start(form, {
			'attr' : {
				'id' : "#{action}_form",
				'data-name' : action,
				'data-form-action-reset' : ''
			}
		}) }}
			{% block form_container %}
				{# Form here #}
				{% block form %}

				{% endblock %}
				{# End Form #}

				{% block form_submission %}
					{{ form_errors(form) }}
					{{ form_widget(form._token) }}
					<div class="saisie-footer">
						<a id="{{ action }}_delete" href="" class="button bt-form bt-supprimer show-on-edit delete-button">supprimer</a>
						<a href="{{ isPage|default(false)? path('homepage') }}" class="button bt-form bt-annuler">Annuler</a>
						<input type="hidden" name="action" value="{{ action }}">
						<button id="{{ action }}_submit" type="submit" name={{ action }}[submit]" class="button bt-form bt-valider">
							Valider
						</button>
					</div>
				{% endblock %}
			{% endblock %}
		{{ form_end(form, {'render_rest': false}) }}
	</div>
</div>

{# JS #}
{% block form_javascript %}
	{# upload pictures #}
{% endblock %}