{% extends 'base.html.twig' %}

{% block main_content %}
	{% include 'layout/header.html.twig' with ({
		'title': "Profil de #{user.displayName}",
		'subtitle': ''
	}) %}


	<div class="dashboard-container">
		<div class="member-avatar" style="background-image: url({{ user.avatar ?? '/media/layout/icons/member_default.png' }})"></div>
			<h3>Informations</h3>
			<ul>
				<li><span class="bolder">Pseudo : </span>{{ user.displayName }}</li>
				<li><span class="bolder">Nom complet : </span>{{ user.name }}</li>
				<li><span class="bolder">Email : </span>{{ user.email }}</li>
				<li><span class="bolder">Commune : </span>{{ user.locality }}</li>
				<li><span class="bolder">Code postal : </span>{{ user.postCode }}</li>
				<li><span class="bolder">Pays : </span>{{ user.country }}</li>
				<li><span class="bolder">Type de profil : </span>{{ user.profileType }}</li>
				<li><span class="bolder">{{ user.isNewsletterSubscriber ? 'Reçoit' : 'Ne reçoit pas' }} notre lettre d'actualités</span></li>
				<li><span class="bolder">{{ user.isMailsSubscriber ? 'Accepte' : 'N’accepte pas'}} d'être contacté(e) par mail</span></li>
			</ul>

		<a href="" class="button bt-add edit open" data-open="admin-user" data-user="{{ user|getJsonSerializedEditUserProfile }}">Modifier ses paramètres</a>
        <a href="{{ path('admin_user_password_edit', {userId:user.id}) }}" class="button bt-add">Modifier son mot de passe</a>

		<h3>ses dernières contributions aux stations</h3>
		<div class="dashboard-text">Les stations auxquelles {{user.displayName}} a contribué ou qu’il a créées :</div>
		<div class="cards-grid-container">
			{% set cards = setStationCards(stations) %}
			{%  for card in cards %}
				{% include 'components/cards/station-cards.html.twig' with {
					station: card.station,
					observations: card.observations,
					canAdminStation: true
				} %}
			{% endfor %}
		</div>
		<h3>ses dernières observations</h3>
		{% set periodsNames = constant('App\\Entity\\Event::DISPLAY_LABELS') %}
		{% set pictureUrl = '' %}
		<div class="dashboard-obs-info-container">
			{% for observation in observations %}
				{% if observation.isMissing == 0 %}
					{% if observation.picture is not null %}
						{% set pictureUrl = observation.picture %}
					{% else %}
						{% set pictureName = observation.individual.species.picture %}
						{% if observation.individual.species.type.name == 'arbres' %}
							{% set pictureName = "#{pictureName}_#{observation.event.stadeBbch|first}" %}
						{% endif %}
						{% set pictureUrl = "/media/species/#{pictureName}.jpg" %}
					{% endif %}
				{% else %}
					{% set pictureUrl = asset('media/layout/icons/eye-crossed.svg') %}
				{% endif %}
				<div class="list-cards-item obs">
					{% if observation.picture is not null %}
						<a href="{{ pictureUrl }}" class="list-card-img" style="background-image:url({{ pictureUrl }});border:3px dotted #ababab;" title="Image d’observation" target="_blank"></a>
					{% else %}
						<div class="list-card-img" style="background-image:url({{ pictureUrl }})"></div>
					{% endif %}
					<div class="item-name-block">
						<div class="item-name">{{ observation.user.displayName }}</div>
						<div class="item-name stage">{{ periodsNames[observation.event.name] }}{{ observation.event.stadeBbch != null ? " - stade #{observation.event.stadeBbch}" }}</div>
						<div class="item-heading-dropdown">{{ observation.date|localizeddate('none', 'none', 'fr', null, 'd/MM/y') }}</div>
					</div>
					<div class="item-details">
						<div class="grey">{{ observation.individual.species.vernacularName }}</div>
						<div>Station :
							<a href="{{ path("stations_show", {'slug': observation.individual.station.slug}) }}" class="bolder">
								{{ observation.individual.station.name }}
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
{% block bottom_content %}
	{% if not user.status == constant('App\\Entity\\User::STATUS_DELETED') %}
		<a id='admin-delete-user' href="{{ path('admin_user_delete', {userId: user.id}) }}" class="button bt-form bt-supprimer" style="margin: 0;border-radius: 0;">Supprimer son compte</a>
	{% else %}
		<a id='admin-cancel-delete-user' href="{{ path('admin_user_cancel_delete', {userId: user.id}) }}" class="button bt-form bt-valider" style="margin: 0;border-radius: 0;">Annuler la suppression de ce compte</a>
	{% endif %}
	<div class="overlay hidden admin-user edit">
		{% include 'admin/edit-user.html.twig' with {action:'profile', form: userForm, title: 'Modifiez son profil'} %}
	</div>
    <div class="overlay hidden station">
        {% include 'forms/station/station-form.html.twig' with {action:'station', form: stationForm} %}
    </div>
{% endblock %}
