{% extends 'forms/base.html.twig' %}
{% block form_title%}
    {{ title|default }}
{% endblock %}

{% block form %}
    <div class="_2-col-form">
        {{ form_row(userForm.displayName, {
            'row_attr': {'class': 'form-col small'},
            'label': 'Pseudo',
            'attr': {
                'class': 'text-field ods-input',
                'max': '100',
                'data-name': 'displayName'
            }
        }) }}
        {{ form_row(userForm.name, {
            'row_attr': {'class': 'form-col ml'},
            'label': 'Nom complet',
            'attr': {
                'class': 'text-field ods-input',
                'max': '100',
                'data-name': 'name'
            }
        }) }}
    </div>

    <div class="form-col button-form-container">
        <a href="" class="button bt-add open-details-button">Modifier son e-mail</a>
    </div>
    <div class="form-col details-container hidden">
        <div class="_2-col-form">
            {{ form_row(userForm.email_new, {
                'row_attr': {'class': 'form-col'},
                'label': 'Nouvel e-mail',
                'attr': {
                    'class': 'text-field ods-input',
                    'max': '255',
                    'data-name': 'email_new'
                },
                'help':'email actuel : '~user.email
            }) }}
        </div>
    </div>

    <div class="_2-col-form">
        {{ form_row(userForm.locality, {
            'row_attr': {'class': 'form-col'},
            'label': 'Commune',
            'attr': {
                'class': 'text-field ods-input',
                'data-name': 'locality'
            }
        }) }}
        {{ form_row(userForm.postCode, {
            'row_attr': {'class': 'form-col small ml'},
            'label': 'Code postal',
            'attr': {
                'class': 'text-field ods-input',
                'pattern':'(100[1-9]|10[1-9][0-9]|1[1-9][0-9]{2}|[2-9][0-9]{3}|[1-8][0-9]{4}|9[0-8][0-9]{3}|990[0-9]{2}|991[0-2][0-9]|9913[0-8])|(2(A001|B36[4-6]|(A|B)(00[2-9]|0[1-8][0-9]|09[0-9]|[12][0-9]{2}|3[0-5][0-9]|36[0-3])))',
                'data-name': 'postCode'
            },
        }) }}
    </div>
    <div class="_2-col-form">
        {{ form_row(userForm.country, {
            'row_attr': {'class': 'form-col'},
            'label': 'Pays',
            'attr': {
                'class': 'text-field ods-input',
                'data-name': 'country'
            }
        }) }}
        {{ form_row(userForm.profileType, {
            'row_attr': {'class': 'form-col small ml'},
            'label': 'Type de profil',
            'attr': {
                'class': 'select-field',
                'data-name': 'profileType'
            },
            'placeholder': 'Choisir'
        }) }}
    </div>
    <div class="_2-col-form">
        <div class="form-col check">
            {{ form_row(userForm.isNewsletterSubscriber, {
                'row_attr': {'class': 'ods-checkbox'},
                'label': 'Recevoir la lettre d’actualités',
                'label_attr': {'class': 'checkbox-label ods-form-label'},
                'attr': {
                    'class': 'ods-checkbox-input',
                    'data-name': 'isNewsletterSubscriber'
                },
                'help_attr': {'class': 'field-help-text'}
            }) }}
        </div>
    </div>

    {% include 'forms/components/upload-block.html.twig' with { formField: userForm.avatar } %}

{% endblock %}