{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle fiche espèce {{ species.scientificName }} ({{ species.vernacularName }}){% endblock %}

{% block main_content %}

    {% include 'layout/header.html.twig' with ({
        'title': 'Édition de la fiche espèce : ' ~ species.vernacularName,
        'subtitle': '<span class="scientific-name">' ~ species.scientificName ~ '</span>'
    }) %}

    <a href="{{ path('admin_species_list') }}">Retour à la liste des espèces</a>
    <br>
    <a href="{{ path('species_single_show', {vernacularName: species.vernacularName}) }}">Voir la fiche</a>

    <dl>
        <dt>Nom scientifique</dt>
        <dd class="scientific-name">{{ species.scientificName }}</dd>
        <dt>Nom vernaculaire</dt>
        <dd>{{ species.vernacularName }}</dd>
        <dt>Description</dt>
        <dd>{{ species.description }}</dd>
    </dl>

    <section class="group-form">
        {% include 'forms/post/species-post-form.html.twig' with ({
            'species':species,
            'editMode':editMode,
            'form':form,
            'form_submit':'Enregistrer la fiche'
        }) %}
    </section>
{% endblock %}
