{% extends 'forms/base.html.twig' %}
{% block form_title%}
    {{ title|default }}
{% endblock %}

{% block form %}
    <div class="_2-col-form">
        {{ form_row(form.email_new, {
            'row_attr': {'class': 'form-col'},
            'label': 'Nouvel e-mail *',
            'attr': {
                'class': 'text-field ods-input',
                'max': '255',
                'data-name': 'email_new'
            }
        }) }}
    </div>
{% endblock %}
{% block form_footer %}
    <a id="cancel" href="{{ path('admin_user_dashboard', {userId:user.id}) }}" class="button bt-form bt-cancel">Annuler</a>
    <input type="hidden" name="action" value="{{ action }}">
    <button id="{{ action }}_submit" type="submit" name={{ action }}[submit]" class="button bt-form bt-valider">
        Valider
    </button>
{% endblock %}
