{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block main_content %}
    {% include 'layout/header.html.twig' with ({
        'title': 'Coucou, tu veux faire quoi ?',
        'subtitle': ''
    }) %}

    <div class="container">
        <div class="row">
            <div class="my-2 col-4 px-2">
                <button class="btn btn-lg btn-admin" href="{{ path('admin_species_list') }}">
                    <a href="{{ path('admin_species_list') }}">
                        Modifier une fiche espèce
                    </a>
                </button>
            </div>
            <div class="my-2 col-4 px-2">
                <button class="btn btn-lg btn-admin" href="{{ path('admin_pages_list') }}">
                    <a href="{{ path('admin_pages_list') }}">
                        Modifier une page statique
                    </a>
                </button>
            </div>
            <div class="my-2 col-4 px-2">
                <button class="btn btn-lg btn-admin" href="{{ path('admin_users_list') }}">
                    <a href="{{ path('admin_users_list') }}">
                        Modifier un profil utilisateur
                    </a>
                </button>
            </div>
            <div class="my-2 col-4 px-2">
                <button class="btn btn-lg btn-admin">
                    <a href="{{ path('admin_stations_list') }}">
                        Voir les stations désactivées
                    </a>
                </button>
            </div>
{#            <div class="my-2 col-4 px-2">#}
{#                <button class="btn btn-lg btn-admin">#}
{#                    <a href="{{ path('admin_newsletters_list') }}">#}
{#                        Voir et/ou écrire une Newsletter#}
{#                    </a>#}
{#                </button>#}
{#            </div>#}
        </div>
    </div>
{% endblock %}
