{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block main_content %}
    {% include 'layout/header.html.twig' with ({
        'title': 'Coucou, tu veux faire quoi ?',
        'subtitle': ''
    }) %}

    <div class="container">
        <div class="row">
            <div class="my-2 col-4 px-2">
                <button class="btn btn-lg bg-secondary " href="{{ path('admin_species_list') }}">
                    <a class="text-primary" href="{{ path('admin_species_list') }}">
                        Modifier une fiche espèce
                    </a>
                </button>
            </div>
            <div class="my-2 col-4 px-2">
                <button class="btn btn-lg bg-secondary" href="{{ path('admin_pages_list') }}">
                    <a class="text-primary" href="{{ path('admin_pages_list') }}">
                        Modifier une page statique
                    </a>
                </button>
            </div>
            <div class="my-2 col-4 px-2">
                <button class="btn btn-lg bg-secondary" href="{{ path('admin_users_list') }}">
                    <a class="text-primary" href="{{ path('admin_users_list') }}">
                        Modifier un profil utilisateur
                    </a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
