{% extends 'base.html.twig' %}

{% block main_content %}

    <dl>
    {% set type = '' %}
    {% for species in speciesList %}
        {% if (type) is not same as (species.type.name) %}
            {% set type = species.type.name %}
            <dt>{{ type }}</dt>
        {% endif %}
        <dd>
            <a href="{{ path('admin_species_page_edit', {speciesId: species.id}) }}">
                {{ species.vernacularName }} ({{ species.scientificName }})
            </a>
            (<a href="{{ path('admin_species_page_edit', {speciesId: species.id, mode: 'html'}) }}">html</a>) {{ species.post ? '✅' }}
        </dd>
    {% endfor %}
    </dl>

{% endblock %}

{% block title %}Liste des fiches espèces{% endblock %}

