{% extends 'base.html.twig' %}

{% block content %}

    <dl>
    {% set type = '' %}
    {% for specy in species %}
        {% if (type) is not same as (specy.type.name) %}
            {% set type = specy.type.name %}
            <dt>{{ type }}</dt>
        {% endif %}
        <dd><a href="{{ path('admin_edit_specy_page', {specyId: specy.id}) }}">{{ specy.vernacularName }} ({{ specy.scientificName }})</a> {{ specy.post ? '✅' }}</dd>
    {% endfor %}
    </dl>

{% endblock %}

{% block title %}Liste des fiches espèces{% endblock %}

