{% extends 'base.html.twig' %}

{% block main_content %}
    {% include 'components/buttons/admin-return-button.html.twig' %}
    <h2 class="text-center"> Liste des utilisateurs</h2>
    <table class="table" id="admin-table">
        <thead>
        <tr>
            <th scope="col">E-mail</th>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom</th>
            <th scope="col">status</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.email }}</th>
                <td>{{ user.displayName }}</td>
                <td>{{ user.name }}</td>
                {% if user.status == 0 %}
                    <td>désactivé</td>
                {% elseif user.status == 1 %}
                    <td>Activé</td>
                {% elseif user.status == 2 %}
                    <td>En attente d'activation</td>
                {% endif %}
                <td>{{ user.roles[1] is defined ? 'Admin' : 'User' }}</td>
                <td><a target="_blank" href="{{ path('admin_user_dashboard', {userId:user.id}) }}">Voir</a></td>
            </tr>
        {% else %}
            <td>Pas d'utilisateurs</td>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

