{{ form_start(form, {'action': path('news_post_single_show'), 'method': 'POST'}) }}
    <div class="form-group">
        {{ form_row(form.comment) }}
    </div>
    {{ form_row(form.submit) }}
    <input type="hidden" name="news_slug" value="{{ post.slug }}">
{{ form_end(form) }}