{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-row form-row__field mb-4">
    {{ form_label(form.title, 'Titre de la newsletter') }}
    {{ form_widget(form.title, {'attr': {'placeholder': 'Saississez le sujet (Objet du mail)', 'class': 'w-100 p-2'}}) }}
</div>

<div class="form-col" data-image="{{ post.cover|default }}">
    {% include 'forms/components/upload-block.html.twig' with { formField: form.cover } %}
</div>

<div class="form-row form-row__field {{ editMode }}-editor" data-upload="{{ upload }}">
    {{ form_label(form.content, 'Contenu de la newsletter') }}
    {{ form_widget(form.content, {'attr': {'placeholder': 'Saississez le contenu de la newsletter ici…'}}) }}
</div>

<div class="form-row form-row__submit">
    {{ form_widget(form.submit, {'label': 'Enregistrer la newsletter', 'attr': {'class': 'btn btn-admin mt-4'}}) }}
</div>

{{ form_end(form) }}
