{% extends 'forms/base.html.twig' %}
{% block form_title%}
    {{ title|default }}
{% endblock %}

{% block form %}

    {% block post_fields %}{% endblock %}

    {{ form_row(form.post_fields.title, {
        'row_attr': {'class': 'form-col'},
        'label': 'Titre *',
        'attr': {
            'class': 'text-field ods-input',
            'max': '100',
            'data-name': 'title',
            'placeholder': 'Entrez le titre de votre article ici…'
        }
    }) }}
    {{ form_row(form.post_fields.content, {
        'row_attr': {
            'class': 'form-col wysiwyg-editor',
            'data-upload': upload
        },
        'label': 'Contenu *',
        'attr': {
            'class': 'textarea-field text-field ods-input',
            'data-name': 'content',
            'placeholder': 'Saississez le contenu de l’article ici…'
        }
    }) }}

{% endblock %}
{% block form_footer %}
    {% if post.id is not null and is_granted('ROLE_ADMIN') %}
        <a class="button bt-form bt-supprimer delete-button" href="{{ path('post_delete', {postId:post.id}) }}">Supprimer</a>
    {% endif %}
    <a id="cancel" href="{{ origin ?? path(constant('App\\Entity\\Post::CATEGORY_PARENT_ROUTE')[post.category]) }}" class="button bt-form bt-cancel">Annuler</a>
    <input type="hidden" name="action" value="{{ action }}">
    <button id="{{ action }}_submit" type="submit" name={{ action }}[submit]" class="button bt-form bt-valider">
        Enregistrer
    </button>
{% endblock %}
