{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-row form-row__field {{ editMode }}-editor" data-upload="{{ upload }}">
    {{ form_label(form.content, 'Contenu de la fiche') }}
    {{ form_widget(form.content, {'attr': {'placeholder': 'Saississez votre contenu ici…'}}) }}
</div>
<div class="form-row form-row__field">
    {{ form_label(form.pdfUrl, 'Url du pdf de la fiche phéno') }}
    {{ form_widget(form.pdfUrl, {'attr': {'placeholder': 'https://www.obs-saisons.fr/images/protocole/….pdf'}}) }}
</div>

<div class="form-row form-row__submit">
    {{ form_widget(form.submit, {'label': form_submit}) }}
</div>
{{ form_end(form) }}
