{% extends 'forms/base.html.twig' %}
{% block form_title%}
    Saisir une nouvelle station
{% endblock %}

{% block form %}
    <div class="_2-col-form">
        {{ form_row(stationForm.name, {
            'row_attr': {'class': 'form-col small'},
            'label': 'Nom *',
            'attr': {
                'class': 'text-field ods-input',
                'max': '100',
                'data-name': 'name'
            }
        }) }}
        {{ form_row(stationForm.description, {
            'row_attr': {'class': 'form-col ml'},
            'label': 'Description',
            'attr': {
                'class': 'textarea-field text-field ods-input',
                'maxlength': '255',
                'rows': 3,
                'data-name': 'description'
            }
        }) }}
    </div>
    <div class="_2-col-form field-group">
        {% include 'forms/components/ods-places-search.html.twig' with {label:'Localisez votre station'} %}
        <div class="form-col small ml button-form-container">
            <label for=""></label>
            <a id="map-buttons" href="" class="button bt-add open-map-button">
                <span id="open-map" class="">Utiliser la carte</span>
                <span id="close-map" class="hidden">Fermer la carte</span>
            </a>
        </div>
    </div>
    <div id="map-container" class="form-col">
        <div id="map" class="hidden"></div>
    </div>
    <div class="_2-col-form field-group">
        {{ form_row(stationForm.latitude, {
            'row_attr': {
                'class': 'form-col',
                'lang': 'en-US'
            },
            'label': 'Latitude commune*',
            'label_attr': {'class': 'light-label'},
            'attr': {
                'class': 'text-field ods-input',
                'min': 41.33321,
                'max': 51.08901,
                'step': 0.000001,
                'data-name': 'latitude',
                'placeholder': 'Décimal, ex: 48.76638'
            }
        }) }}
        {{ form_row(stationForm.longitude, {
            'row_attr': {
                'class': 'form-col ml',
                'lang': 'en-US'
            },
            'label': 'Longitude commune*',
            'label_attr': {'class': 'light-label'},
            'attr': {
                'class': 'text-field ods-input',
                'min': -5.174701,
                'max': 9.560001,
                'step': 0.0000001,
                'data-name': 'longitude',
                'placeholder': 'Décimal, ex: 6.045905'
            }
        }) }}
    </div>
    <div class="_2-col-form field-group">
        {{ form_row(stationForm.exact_latitude, {
            'row_attr': {
                'class': 'form-col',
                'lang': 'en-US'
            },
            'label': 'Latitude exacte',
            'label_attr': {'id':'exactLatitude','class': 'light-label'},
            'attr': {
                'class': 'text-field ods-input',
                'min': 41.33321,
                'max': 51.08901,
                'step': 0.000001,
                'data-name': 'exact_latitude',
                'placeholder': 'Décimal, ex: 48.76638'
            }
        }) }}
        {{ form_row(stationForm.exact_longitude, {
            'row_attr': {
                'class': 'form-col ml',
                'lang': 'en-US'
            },
            'label': 'Longitude exacte',
            'label_attr': {'id':'exactLongitude','class': 'light-label'},
            'attr': {
                'class': 'text-field ods-input',
                'min': -5.17470,
                'max': 9.56000,
                'step': 0.000001,
                'data-name': 'exact_longitude',
                'placeholder': 'Décimal, ex: 6.045905'
            }
        }) }}
    </div>
    <div class="_2-col-form">
        {{ form_row(stationForm.locality, {
            'row_attr': {'class': 'form-col'},
            'label': 'Commune *',
            'label_attr': {'class': 'light-label'},
            'attr': {
                'class': 'text-field ods-input',
                'data-name': 'locality'
            }
        }) }}
        {{ form_row(stationForm.inseeCode, {
            'row_attr': {'class': 'form-col small ml'},
            'label': 'Code INSEE *',
            'label_attr': {'class': 'light-label'},
            'attr': {
                'class': 'text-field ods-input',
                'pattern':'[0-9]{5}',
                'data-name': 'inseeCode'
            },
        }) }}
    </div>
    {{ form_row(stationForm.altitude) }}
    <div class="_2-col-form">
        {{ form_row(stationForm.habitat, {
            'row_attr': {'class': 'form-col small'},
            'label': 'Milieu *',
            'attr': {
                'class': 'select-field',
                'data-name': 'habitat'
            },
            'placeholder': 'Choisir'
        }) }}
        <div class="form-col check ml">
            {{ form_row(stationForm.isPrivate, {
                'row_attr': {'class': 'ods-checkbox'},
                'label': 'Station personnelle',
                'label_attr': {'class': 'checkbox-label ods-form-label'},
                'attr': {
                    'class': 'ods-checkbox-input',
                    'data-name': 'isPrivate'
                },
                'help': 'Une station personnelle est une station pour laquelle vous êtes la seule personne à pouvoir
                contribuer. Néanmoins, les observations restent visibles par tous et les données associées peuvent
                être téléchargées.',
                'help_attr': {'class': 'field-help-text'}
            }) }}
        </div>
    </div>
    {% include 'forms/components/upload-block.html.twig' with { formField: stationForm.headerImage } %}
{% endblock %}
