{% extends 'base.html.twig' %}

{% set isPrivateDashboard = user == app.user %}
{% set isUserDashboardAdmin = isUserDashboardAdmin ?? false %}
{% block main_content %}
	{% if isPrivateDashboard %}
		{% set subtitle =
			"Bonjour #{app.user.displayName}, bienvenue !<br>
			Retrouvez les informations principales de votre profil et vos activités de l’observatoire des Saisons"
		%}
	{% endif %}
	{% set title = isPrivateDashboard ? 'Votre profil' : "Profil de #{user.displayName}" %}



	{% include 'layout/header.html.twig' with ({
		'title': title,
		'subtitle': subtitle|default
	}) %}


	<div class="dashboard-container">
		<div class="member-avatar" style="background-image: url({{ user.avatar ?? '/media/layout/icons/member_default.png' }})"></div>

		{% if isPrivateDashboard or isUserDashboardAdmin %}

			<h3>{{ isPrivateDashboard ? 'mes ' : ''  }}informations</h3>
			<ul class="ods-list-unstyled">
				<li><span class="bolder">Pseudo :</span> {{ user.displayName }}</li>
				<li><span class="bolder">Nom complet :</span> {{ user.name }}</li>
				<li><span class="bolder">Commune :</span> {{ user.locality }}</li>
				<li><span class="bolder">Code postal :</span> {{ user.postCode }}</li>
				<li><span class="bolder">Pays :</span> {{ user.country }}</li>
				<li><span class="bolder">Type de profil :</span> {{ user.profileType }}</li>

				{% set recieves = isPrivateDashboard ? 'recevez' : 'reçoit' %}
				{% set accepts =  isPrivateDashboard ? 'acceptez' : 'accepte' %}
				<li><span class="bolder">{{ isPrivateDashboard ? 'vous ' : ''  }}{{ user.isNewsletterSubscriber ? recieves : "ne #{recieves} pas" }} notre lettre d’actualités</span></li>
			</ul>

			{% if isUserDashboardAdmin %}
				<a href="" class="button bt-add edit open" data-open="admin-profile" data-user="{{ user|getJsonSerializedEditUserProfile }}" data-edition-path="{{ path('admin_user_profile_edit', {userId:user.id}) }}">Modifier son profil</a>
			{% else %}
				<a href="" class="button bt-add edit open" data-open="profile" data-user="{{ user|getJsonSerializedEditUserProfile }}">Modifier mon profil</a>
			{% endif %}
			<ul class="ods-list-unstyled">
				<li><span class="bolder">{{ isPrivateDashboard ? 'votre ' : ''  }}email :</span> {{ user.email }}</li>
			</ul>
			<a href="{{ isUserDashboardAdmin ? path('admin_user_parameters_edit', {userId:user.id}) : path('user_parameters_edit')  }}" class="button bt-add">Modifier {{ isPrivateDashboard ? 'm' : 's'  }}es paramètres</a>
			<p>Modifier {{ isPrivateDashboard ? 'votre' : 'son'  }} e-mail et/ou {{ isPrivateDashboard ? 'votre' : 'son'  }} mot de passe</p>

		{% endif %}


		<h3>{{ isPrivateDashboard ? 'mes stations' : 'ses dernières contributions aux stations'}}</h3>
		<div class="dashboard-text">Les stations auxquelles {{ isPrivateDashboard ? 'vous avez contribué ou que vous avez' : "#{user.displayName} a contribué ou qu’il a" }} créées :</div>
		<div class="cards-grid-container">
			{% if stations is not empty %}
				{% set cards = setStationCards(stations) %}
				{%  for card in cards %}
					{% include 'components/cards/station-cards.html.twig' with {
						station: card.station,
						observations: card.observations,
						canAdminStation: isPrivateDashboard or isUserDashboardAdmin,
					} %}
				{% endfor %}
			{% endif %}
			{% if isPrivateDashboard %}
			<div class="card add">
				<div class="card add">
					<div class="add-card-content">
						<div class="add-pointer-icon add-card-marker"></div>
						<a href="" class="button bt-add open" data-open="station">
							Créer une station
						</a>
					</div>
				</div>
			</div>
			{% endif %}
		</div>

		<h3>{{ isPrivateDashboard ? 'mes' : 'ses dernières' }} observations</h3>
		{% set periodsNames = constant('App\\Entity\\Event::DISPLAY_LABELS') %}
		<div class="dashboard-obs-info-container">
			{% for observation in observations %}
				{% set pictureUrl = displayImageToObservation(observation)|default %}
				<div class="list-cards-item obs">
					{% if observation.picture is not null %}
						<a href="{{ pictureUrl }}" class="list-card-img" style="background-image:url({{ pictureUrl }});border:3px dotted #ababab;" title="Image d’observation" target="_blank"></a>
					{% else %}
						<div class="list-card-img" style="background-image:url({{ pictureUrl }})"></div>
					{% endif %}
					<div class="item-name-block">
						<div class="item-name">{{ observation.user.displayName }}</div>
						<div class="item-name stage">{{ periodsNames[observation.event.name] }}{{ observation.event.stadeBbch != null ? " - stade #{observation.event.stadeBbch}" }}</div>
						<div class="item-heading-dropdown">{{ observation.date|format_datetime(pattern='d/MM/y',locale='fr') }}</div>
					</div>
					<div class="item-details">
						<div class="grey">{{ observation.individual.species.vernacularName }}</div>
						<div>Station :
							<a href="{{ path("stations_show", {'slug': observation.individual.station.slug}) }}" class="bolder">
								{{ observation.individual.station.name }}
							</a>
						</div>
					</div>
				</div>
			{% else %}
				<p>{{ isPrivateDashboard ? 'vous n’avez' : 'L’utilisateur n’a' }} pas encore d’observations</p>
			{% endfor %}
		</div>

		{% if (isPrivateDashboard or isUserDashboardAdmin) %}
			<h3>{{ isPrivateDashboard ? 'm' : 's' }}es publications</h3>
			<div class="dashboard-posts-info-container">
				{% for category, posts in categorizedPosts %}
					<h4>
						{{
							constant('App\\Service\\BreadcrumbsGenerator::MENU')[
								constant('App\\Entity\\Post::CATEGORY_PARENT_ROUTE')[category]
							]|default('Pages')
						}}
					</h4>

					{% if constant('App\\Entity\\Post::CATEGORY_NEWS') == category %}
						{% for id, newsPost in posts %}
							{% include 'components/list-cards/news-list-cards.html.twig' with {newsPost:newsPost}  %}
						{% endfor %}

					{% elseif constant('App\\Entity\\Post::CATEGORY_EVENT') == category %}
						{% for id, eventPost in posts %}
							{% include 'components/list-cards/events-list-cards.html.twig' with {eventPost:eventPost} %}
						{% endfor %}

					{% elseif constant('App\\Entity\\Post::CATEGORY_PAGE') == category and is_granted('ROLE_ADMIN') %}
						{% for page in posts %}
							{% include 'components/list-cards/post-pages-list-cards.html.twig' with {page:page} %}
						{% endfor %}

					{% elseif constant('App\\Entity\\Post::CATEGORY_SPECIES') == category and is_granted('ROLE_ADMIN') %}
						{% for species in posts %}
							{% include 'components/list-cards/post-species-list-cards.html.twig' with {species:species} %}
						{% endfor %}

					{% endif %}
				{% else %}
					<p>{{ isPrivateDashboard ? 'vous n’avez' : 'L’utilisateur n’a' }} pas encore de publications</p>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block bottom_content %}
    {% if isPrivateDashboard or isUserDashboardAdmin %}
        {% if isPrivateDashboard %}
            <a href="{{ path('user_delete') }}" class="button bt-form bt-supprimer" style="margin: 0;border-radius: 0;">Supprimer mon compte</a>
        {% elseif isUserDashboardAdmin %}
            {% if user.deletedAt is null %}
                <a id='admin-delete-user' href="{{ path('admin_user_delete', {userId: user.id}) }}" class="button bt-form bt-supprimer" style="margin: 0;border-radius: 0;">Supprimer son compte</a>
            {% else %}
                <a id='admin-cancel-delete-user' href="{{ path('admin_user_cancel_delete', {userId: user.id}) }}" class="button bt-form bt-valider" style="margin: 0;border-radius: 0;">Annuler la suppression de ce compte</a>
            {% endif %}
        {% endif %}
		<div class="overlay hidden {{ isUserDashboardAdmin ? 'admin-' : '' }}profile edit">
			{% include 'forms/user/profile-form.html.twig' with {action:'profile', form: profileForm, title: "Modifiez #{ isUserDashboardAdmin ? 'son' : 'votre' } profil" } %}
		</div>
		<div class="overlay hidden station">
			{% include 'forms/station/station-form.html.twig' with {action:'station', form: stationForm} %}
		</div>
	{% endif %}
{% endblock %}
