{% set eventPostDates = [eventPost.startDate] %}
{% if eventPost.endDate != eventPost.startDate %}
    {% set eventPostDates = eventPostDates|merge([eventPost.endDate]) %}
{% endif %}
<div id="{{ eventPost.title|slugify }}" class="list-cards-item" data-id="{{ id }}">
    <div class="dual-blocks-container">
        {% for date in eventPostDates %}
            <div class="event-date {{ loop.index == 2 ? 'last' }}">
                {{ date|date("j") }}<br>{{ date|date("M") }}
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('event_post_single_show', {'slug': eventPost.slug}) }}" class="item-name-block">
        <div class="item-heading-dropdown ">{{ eventPost.title|raw }}</div>
        <div class="item-name pointer-orange-icon">{{ eventPost.location }}</div>
        {% if constant('App\\Entity\\Post::STATUS_PENDING') == eventPost.status %}
            <div class="item-name warning-content">En attente de publication</div>
        {% endif %}
    </a>

    <div class="item-details">
        <div>
            <a href="" class="bolder">{{ eventPost.author.getDisplayName() }}</a>
            - {{ eventPost.createdAt|date("j/m/Y") }}
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        {% include 'components/buttons/dual-squared-button.html.twig' with {
            buttons: [
                {
                    'icon': 'edit-list',
                    'label': 'Modifier',
                    'url' : path('event_post_edit', {postId:eventPost.id})
                },
                {
                    'icon': 'delete',
                    'label': 'Supprimer',
                    'url' : path('post_delete', {postId:eventPost.id})
                }
            ]
        } %}
    {% endif %}

</div>
