<div id="{{ newsPost.title|slugify }}" class="list-cards-item" data-id="{{ id }}">

    <div class="list-card-img {{ newsPost.cover is not defined ? 'bg-default' }}" style="{{ newsPost.cover is defined ? "background-image: url(#{newsPost.cover})" }}"></div>

    <a href="{{ path('news_post_single_show', {'slug': newsPost.slug}) }}" class="item-name-block">
        <div class="item-heading-dropdown ">{{ newsPost.title|raw }}</div>
        {% if newsPost.status == 0 %}
            <div class="item-name" style="color: #FF7F2A">En attente de publication</div>
        {% endif %}
    </a>

    <div class="item-details">
        <div>
            <a href="{{ path('user_profile',{userId:newsPost.author.id}) }}" class="bolder">{{ newsPost.author.displayName }}</a>
            - {{ newsPost.createdAt|date("j/m/Y") }}
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        {% include 'components/buttons/dual-squared-button.html.twig' with {
            buttons: [
                {
                    'icon': 'edit-list',
                    'label': 'Modifier',
                    'url' : path('news_post_edit', {postId:newsPost.id})
                },
                {
                    'icon': 'delete',
                    'label': 'Supprimer',
                    'url' : path('post_delete', {postId:newsPost.id})
                }
            ]
        } %}
    {% endif %}
</div>
