{#
    #: optionnal,
    *: required,
    |: default

    details*: object
        grey_text:#  string
        infos:# object
            bolder*: string
            lighter*: string

#}
{% if details.grey_text is defined %}
    <div class="grey">{{ details.grey_text|raw }}</div>
{% endif %}

{% if details.infos is defined %}
    <div><{{ route in ['actualites', 'evenements'] ? 'a href=#' : 'span' }} class="bolder">{{ details.infos.bolder }}</{{ route in ['actualites', 'evenements'] ? 'a' : 'span' }}> - {{ details.infos.lighter }}</div>
{% endif %}

