{% extends 'forms/base-individu.html.twig' %}
{% block form_title%}
    {{ station.name|capitalize }} &nbsp;<span class="saisie-title-action">• &nbsp;Saisir un individu</span>
{% endblock %}
{% block form %}
    <div class="_2-col-form">
        {{ form_row(individualForm.name, {
            'row_attr': {'class': 'form-col'},
            'label': 'Nom *',
            'attr': {
                'class': 'text-field ods-input',
                'max': '255',
                'data-name': 'name'
            }
        }) }}
        {{ form_row(individualForm.species, {
            'row_attr': {'class': 'form-col ml'},
            'label': 'Espèce *',
            'attr': {
                'class': 'select-field',
                'data-name': 'species'
            },
            'help': '(+) espèces dont des individus sont déjà enregistrés sur la station.',
            'help_attr': {'class': 'field-help-text'}
        }) }}
    </div>
    <div class="_2-col-form">
        {{ form_row(individualForm.details, {
            'row_attr': {'class': 'form-col'},
            'label': 'Ajouter une précision',
            'attr': {
                'class': 'textarea-field text-field ods-input',
                'rows': 3,
                'data-name': 'details',
                'placeholder': 'Si nécessaire, vous pouvez noter quelques précisions ici (exposé plein nord, arbre isolé, jeune individu, arbre de plus de 20m...)'
            }
        }) }}
    </div>
    <div class="form-col small ml check">
            {{ form_row(individualForm.isDead, {
                'row_attr': {'class': 'ods-checkbox'},
                'label': 'Mort',
                'label_attr': {'class': 'checkbox-label ods-form-label'},
                'attr': {
                    'class': 'ods-checkbox-input',
                    'data-name': 'isDead'
                },
                'help': "Si vous souhaitez signaler que l'individu est mort, vous pouvez cocher cette case.",
                'help_attr': {'class': 'field-help-text'}
            }) }}
    </div>
    <div class="_2-col-form">
        {{ form_row(individualForm.commentaireMort, {
            'row_attr': {'class': 'form-col'},
            'label': 'Ajouter une précision sur la mort',
            'attr': {
                'class': 'textarea-field text-field ods-input',
                'rows': 3,
                'data-name': 'commentaireMort',
                'placeholder': "Si nécessaire, vous pouvez noter quelques précisions ici sur la mort de l'individu"
            }
        }) }}
    </div>
{% endblock %}

{% block form_javascript %}{% endblock %}


