{% extends 'emails/base.html.twig' %}

{% set isSubsciption = constant('App\\Service\\MailchimpSyncContact::STATUS_UNSUBSCRIBED') != type %}
{% set isNewSubsciption = constant('App\\Service\\MailchimpSyncContact::STATUS_ADDED') == type %}

{% block title %}{{ isSubsciption ? (isNewSubsciption ? 'Nouvelle' : '') : 'Dés' }}inscription de {{ user.email }} {{ isSubsciption ? 'à' : 'de' }} la lettre d’actualités - Observatoire des Saisons{% endblock %}

{% block preheader %}{{ isSubsciption ? (isNewSubsciption ? 'Nouvelle' : '') : 'Dés' }}inscription {{ isSubsciption ? 'à' : 'de' }} la newsletter{% endblock %}

{% block body %}
    <h1><a href="{{ absolute_url(path('admin_user_dashboard', {userId:user.id})) }}" title="tableau de bord de l’utilisateur">{{ user.displayName }}</a> souhaite être {{ not isSubsciption ? 'dés' : '' }}inscrit</h1>
    <p>{{ isSubsciption ? (isNewSubsciption ? 'La nouvelle ' : 'L’ ') : 'La dés' }}insription automatique de cet utilisateur ne s’est pas faite correctement.</p>
    <p>Email : {{ user.email }}</p>
{% endblock %}
