<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
	<head>
		<meta charset="UTF-8">
		{# set page title #}
		<title>{% block title "#{breadcrumbs|default|last|default('Accueil')} | Observatoire des saisons" %}</title>

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="{{ asset('media/layout/icons/logo_ods.svg') }}" type="image/svg+xml">

		{# steelsheet #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<body>
		<div class="global-layout">
			{% block menu %}
				{% include 'layout/menu.html.twig' %}
			{% endblock %}

			<div class="main {{ app.request.attributes.get('_route') == 'homepage' ? 'home' }}">

				{% block topbar %}
					{% include 'layout/topbar.html.twig' %}
				{% endblock %}

				{% block flashes %}
					{% include 'components/app-flashes.html.twig' %}
				{% endblock %}

				{% block content %}

					{% block top_content %}{% endblock %}

					<div class="content page">
						<div class="pages-container {{ page_container_classes|default }}">

							{% block main_content %}{% endblock %}

						</div>
					</div>

					{% block bottom_content %}{% endblock %}
				{% endblock %}

				{% block footer %}
					{% include 'layout/footer.html.twig' %}
				{% endblock %}
			</div>
		</div>

		{# JS #}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
