{#
    #: optionnal,
    *: required,
    |: default

    id*: int
    App\DisplayData\Station\StationSpeciesDisplayData calendar
#}
{% set periods = calendar.getPeriods() %}
{% set stades = periods|keys %}
{% set stades_css_classes = constant('App\\Entity\\Event::CSS_CLASSES') %}
{% set individualsData = calendar.getAllIndividualsObservationsDisplayData()  %}
{% set years = calendar.getAllObsYears() %}
{% set first_year = max(years|default(["now"|date("Y")])) %}

<div class="periods-calendar" data-id="{{ id }}" style="display:none;">
    <div class="table-container">
        <div class="grid top">

            {# Display years dropdown #}
            <div class="grid_1-3_1-2 dropdown">
                <div class="dropdown-toggle" style="{{ years|length > 1 ? 'cursor: pointer;' }}">
                    <div class="active-year {{ years|length > 1 ? 'down-arrow-icon' }}">{{ first_year }}</div>
                </div>
                {% if years|length > 1 %}
                    <nav class="dropdown-list hidden" style="{{ "height: #{(years|length) - 1 * 45}px;" }}{{ years|length > 5 ? "overflow: scroll;" }}">
                        {% for year in years %}
                            <a href="" class="dropdown-link {{ year == first_year ? 'hidden' }}">{{ year }}</a>
                        {% endfor %}
                    </nav>
                {% endif %}
            </div>

            {# Display months #}
            {% for i in 3..14 %}
                {% set month = "0000-#{i - 2}-01"|localizeddate('none', 'none', 'fr', null, 'MMM')  %}
                <div class="grid_{{ "#{i}-#{i+1}" }}_1-2 month">{{ month }}</div>
                {% if month == ("now"|localizeddate('none', 'none', 'fr', null, 'MMM')) %}
                    <div class="grid_{{ "#{i}-#{i+1}" }}_1-2 table-colomn active-month top  {{ loop.last ? 'last-column' }}"></div>
                {% endif %}
            {% endfor %}
        </div>

        {% set disable = (app.user.id is not defined) %}
        {% for individualData in individualsData %}

            <div class="individu-header">
                {% set individual = individualData.getIndividual() %}
                <h5 class="individu-name">{{ individual.name }}</h5>
                <a href="" class="table-action open{{ disable ? ' disabled' }}" data-open="observation" data-indiv="{{ individual.id }}" data-species="{{ individual.species.id }}" data-species-name="{{ individual.species.vernacularName }}" {{ disable ? 'style=cursor:not-allowed; aria-disabled=true title="connexion obligatoire"' }}>
                    <div>Saisir une observation</div>
                </a>
            </div>

            <div class="grid content-{{ stades|length }}">
                {% for i in 1..stades|length %}
                    {% set stade = stades[i-1] %}

                    {% set column_start = (periods[stade]['begin']|date("n")) + 2 %}
                    {% set column_end = (periods[stade]['end']|date("n")) + 3 %}

                    <div class="grid_1-3_{{ "#{i}-#{i+1}" }} table-intitule-stade {{ i is even ? 'darker' }} {{ loop.last ? 'last' }}">{{ stades[i-1] }}</div>
                    <div class="grid_3-15_{{ "#{i}-#{i+1}" }} table-row {{ i is even ? 'darker' }} {{ loop.last ? 'last' }}"></div>
                    <div class="stade-period {{ stades_css_classes[stade] }}" style="{{ "grid-column-start:#{column_start};grid-column-end:#{column_end};" }}"></div>
                {% endfor %}


                {% for stationObservationsByYearDisplayData in individualData.getStationObservationsByYearDisplayData() %}
                    {% set hide = (stationObservationsByYearDisplayData.getYear() != first_year) %}
                    {% include 'components/obs_chips.html.twig' with {observations: stationObservationsByYearDisplayData.getThisYearObservations() } %}{# will also take stades #}
                {% endfor %}

                {% for i in 3..14 %}
                    <div class="grid_{{"#{i}-#{i+1}"}}_1-{{ stades|length + 1 }} table-colomn {{ (i - 2) == ("now"|date('n')) ? 'active-month' }} {{ loop.last ? 'last-column' }}"></div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="individu-footer">
            <a href="" class="table-action add open{{ disable ? ' disabled' }}" data-open="individual" data-species="{{ calendar.species.id }}" data-all-species="false" data-station="{{ station.id }}" data-req-login="true" {{ disable ? 'style=cursor:not-allowed; aria-disabled=true title="connexion obligatoire"' }}>
                <div>Ajouter un nouvel individu</div>
                <div class="add-button-like add-circle-icon"></div>
            </a>
            <div class="table-mask-button">
                <div class="up-arrow-green-icon">Masquer le détail</div>
            </div>
        </div>
    </div>

    <div class="helper-legend">
        <div class="legends">
            {% for stade in stades %}
                <div class="stade-period {{ stades_css_classes[stade] }} legend"></div>
            {% endfor %}
        </div>
        <div class="helper-legend-text">Périodes à laquelle est observée ce stade en moyenne les années précédentes</div>
        <a href="" class="hide-button eye-crossed-icon" title="Ne plus afficher ce message"></a>
    </div>
</div>