{#
    #: optionnal,
    *: required,
    |: default,
    [int..int]: array indexes ([...] if no precise length defined)

    cards: array
        [...]card object
            add#: object (if the card is add with button add)
                image#: string (uri) | 'media/layout/icons/add-pointer.svg'
                text#: string (description) | 'Votre station n\'existe pas encore ?'
                button#: string (button label) | 'Créer une station'
            header#: object
                image*: string
                icon_name#: string | 'private'
            body#: object
                heading*: string
                rows*: array
                    [...](item*) object
                        icon_name#: string
                        text*: string
            footer#: array
                [...](item#) object
                    @item_type*: object (length defined by item-type) | 'members'
                        ...@item_data#: any (object, array, string ...) | {'icon': 'person-icon', 'count': 1}
                (e.g. [{'counter' : {'icon': @icon_name, 'count': @int }}])
                (other example [{'avatars' : [...@image_urls]])
#}
<div class="cards-grid-container">
    {%  for card in cards %}
        {% if card.add is defined %}

            <div class="card add">
                <div class="add-card-content">
                    <div class="{{ card.add.icon_name}}-icon add-card-marker"></div>
                    <div class="add-card-text">{{ card.add.text }}</div>
                    <a href="#" class="button bt-add">{{ card.add.button }}</a>
                </div>
            </div>

        {% else %}
            <a href="{{ route == 'stations' ? path("#{route}_show", {'slug': card.card_link}) : path(card.card_link|default(route)) }}" class="card" {{ card.tab_reference is defined ? "data-tab=#{card.tab_reference}" }}>
                {% for card_item_name in ['header', 'body', 'footer'] %}
                    {% if card[card_item_name] is defined %}
                        {% set card_item = card[card_item_name] %}

                        <div class="card-{{ card_item_name }}" {{ card_item.image is defined ? "style=background-image\:url(#{card_item.image})" }}>
                            {% include "components/cards-components/#{card_item_name}.html.twig" with {(card_item_name): card_item} %}
                        </div>

                    {% endif %}
                {% endfor %}
            </a>
        {% endif %}
    {% endfor %}
</div>