{#
    #: optionnal,
    *: required,
    |: default

    header*: object
        station_status*: string,
		last_obs_image#: string
		obs_count#: int
		name*: string
		description#: string
		latitude*: decimal(8,5)
		longitude*: decimal(8,5)
		creator_avatar#: string
		creator_name#: string
#}
<div class="hero-header">
    <div class="hero-header-media-part map">

        {% if header.isPublic and header.last_obs_image is defined %}
            <div class="contributions-mini-block" style="background-image: url({{ header.last_obs_image }});">
                {% if header.obs_images_count is defined and header.obs_images_count > 1 %}
                    <div class="contributions-number">+ {{ header.obs_images_count }}</div>
                {% endif %}
            </div>
        {% endif %}

    </div>

    <div class="hero-header-content">
        <h3 class="hero-header-title"><span class="lighter">{{ header.name }} &nbsp;•</span> &nbsp;Observations</h3>
        <p class="hero-header-subtitle">{{ header.description|default }}</p>

            {% if header.isPublic %}
                <div class="hero-header-detail map">Lat. : {{ header.latitude }} &nbsp;• &nbsp;Long. : {{ header.longitude }}</div>
            {% endif %}

    </div>

    {% if header.isPublic %}
        <div class="member-label-block">
            <div  class="member-avatar" style="background-image: url({{ header.creator_avatar|default(asset('media/layout/icons/member_default.png')) }})"></div>
            <div class="member-label-block-content">
                <div class="member-label-block-title">Créée par</div>
                <a href="#" class="member-label-block-link">{{ header.creator_name }}</a>
            </div>
        </div>
    {% endif %}

    <div class="privacy-status">Station {{ header.isPublic ? 'publique' : 'privée' }}</div>
</div>