{#
    #: optionnal,
    *: required,
    |: default
    [int..int]: array indexes ([...] if no precise length defined)

    id*: int
    route#: string | 'observations'
    list_card*: object
        add#: object
            text*: string (description)
            button*: string (button label)
        slug#: string | route
        image#: string (url)
        events_dates#: array of 1 (1 day), or 2 (begining - end) (route = "evenements")
            [...](date*) date
        heading*: object
            title*: string (with dropdown)
            text#: string (item-name)
        details#: object
            grey_text:# string
            infos#:# object
                bolder: string
                lighter: string
    buttons#: array (i.e. dual_squared_buttons) | (see below:
        [
            {
                'icon': 'help-circle',
                'label': 'fiche'
            },
            {
                'icon': 'edit-calendar',
                'data_attr': {
                    'action': 'open',
                    'target': 'indiv'
                },
                'label': 'saisir'
            }
        ]
    )
#}
{% set slug = list_card.slug|default(route) %}
<div {{ list_card.heading is defined and list_card.heading.title is defined? "id=#{list_card.heading.title|slugify}" }} class="list-cards-item{{ list_card.add is defined ? '-add' }}" data-id="{{ id }}">
    {% if list_card.add is defined %}
        <div class="add-list-card">
            <div class="icon-add-list-card add-square{{ route == 'evenements' ? '-orange' }}-icon"></div>
            <div class="add-card-text">{{ list_card.add.text }}</div>
            <a href="#" class="button bt-add {{ route == 'evenements' ? 'orange' }}">{{ list_card.add.button }}</a>
        </div>

    {% else %}
        {% if list_card.events_dates is defined %}
            {% include "components/list-cards-components/event-dates.html.twig" with {events_dates: list_card.events_dates}%}
        {% endif %}

        {% if list_card.image is defined %}
            <div class="list-card-img {{ list_card.image == 'default' ? 'bg-default' }}" style="{{ list_card.image is defined and list_card.image != 'default' ? "background-image: url(#{list_card.image})" }}"></div>
        {% endif %}

        {% include "components/list-cards-components/heading.html.twig" with {heading: list_card.heading} %}

        {% if list_card.details is defined %}
            <div class="item-details">
                {% include "components/list-cards-components/details.html.twig" with {details: list_card.details} %}
            </div>
        {% endif %}

        {% if buttons is defined %}
            {% include "components/buttons/dual-squared-button.html.twig" with buttons %}
        {% endif %}
    {% endif %}
</div>