{#
    *: required
    [int..int]: array indexes ([...] if no precise length defined)

    stages* array
        [...](stage_label*) string
    App\Entity\Observation[]|array observations*
    stages_css_classes defined in templates/components/calendar-tab.html.twig

#}
{% set STAGES = constant('App\\Entity\\Event::DISPLAY_LABELS') %}
{% set break = false %}
{# spot when to display missing event observation when more than one event is displayed #}
{% if not onlyOneEvent  %}
    {% set stagesHavingObservations = [] %}
    {% for obs in observations %}
        {% set obsStage = STAGES[obs.event.name] %}
        {% if not obs.isMissing and obsStage not in stagesHavingObservations %}
            {% set stagesHavingObservations = stagesHavingObservations|merge([obsStage]) %}
        {% endif %}
    {% endfor %}
{% endif %}

{% for obs in observations if not break %}

    {# set observation grid position #}
    {% set column_start = ((obs.obsDate|date("n")) + 2) * 10 %}
    {% set row_start = 0 %}
    {% set obsStage = STAGES[obs.event.name] %}
    {% for stage_label in stages %}
        {% if stage_label == obsStage  %}
            {% set row_start = loop.index %}
        {% endif %}
    {% endfor %}

    {# set displayed picture#}
    {% set pictureUrl = asset('media/layout/icons/eye-crossed.svg') %}
    {% if obs.isMissing == 0 %}
        {% set pictureName = obs.individual.species.picture %}
        {% if obs.individual.species.type.id == 1 %}
            {% set pictureName = "#{pictureName}_#{obs.event.stadeBbch|first}" %}
        {% endif %}
        {% set pictureUrl = "/media/species/#{pictureName}.jpg" %}
    {% endif %}

    {% set displayObservation = true %}
    {% if onlyOneEvent %}{# toggle display observation when only one event #}
        {% if obs.isMissing and loop.index != observations|length %}
            {# missing event observation is only displayed if no valid observation exists for the year #}
            {% set displayObservation = false %}
        {% else %}
            {% set break = true %}
        {% endif %}
    {% else %}{# toggle display observation when observation is for missing event and not only one event #}
        {% if obs.isMissing %}
            {% if obsStage not in stagesHavingObservations %}
                {% set stagesHavingObservations = stagesHavingObservations|merge([obsStage]) %}
            {% elseif obsStage in stagesHavingObservations %}
                {% set displayObservation = false %}
            {% endif %}
        {% endif %}
    {% endif %}

    {# observation html #}

    {% if row_start > 0 and column_start > 20 and displayObservation %}
        <a
            href=""
            class="stage-marker {{ stages_css_classes[obsStage] }}{{ obs.isMissing ? ' absence' }} open"
            data-year="{{ obs.obsDate|date("Y") }}"
            data-month="{{ obs.obsDate|date("n") }}"
            data-tab="{{ obs.user.id }}"
            data-open="obs-infos"
            data-author="{{ obs.user.displayName }}"
            data-stage="{{ obsStage }}{{ obs.event.stadeBbch != null ? " - stade #{obs.event.stadeBbch}" }}"
            data-date="{{ obs.obsDate|localizeddate('none', 'none', 'fr', null, 'd/MM/y') }}"
            style="
                {{
                    "background-image: url(#{pictureUrl}); grid-column-start: #{column_start}; grid-column-end: #{column_start + 10};
                    grid-row-start: #{row_start}; grid-row-end: #{row_start + 1};"
                }}
                {{ hide ? 'display:none;' }}
            "
        >
            <div class="stage-marker-text {{ loop.index == observations|length or break? 'last' }}">
                <div class="stage-text">{{ obsStage }}{{ obs.event.stadeBbch != null ? "- stade #{obs.event.stadeBbch}" }}</div>
                <div class="stage-date">Le {{ obs.obsDate|localizeddate('none', 'none', 'fr', null, 'd MMMM y') }}</div>
            </div>
        </a>
    {% endif %}
{% endfor %}