{#
    *: required
    [int..int]: array indexes ([...] if no precise length defined)

    stades* array
        [...](stade_label*) string
    App\Entity\Observation[]|array observations*
    stades_css_classes defined in templates/components/calendar-tab.html.twig

#}
{% set STADES = constant('App\\Entity\\Event::DISPLAY_LABELS') %}
{% for obs in observations %}
    {% set column_start = (obs.getObsDate()|date("n")) + 2 %}
    {% set row_start = 0 %}
    {% set obsStade = STADES[obs.getEvent().getName()] %}
    {% for stade_label in stades %}
        {% if stade_label == obsStade  %}
            {% set row_start = loop.index %}
        {% endif %}
    {% endfor %}
    {% set pictureUrl = asset('media/layout/icons/eye-crossed.svg') %}
    {% if obs.isMissing == 0 %}
        {% set pictureName = obs.individual.species.picture %}
        {% if obs.individual.species.type.id == 1 %}
            {% set pictureName = "#{pictureName}_#{obs.event.stadeBbch|first}" %}
        {% endif %}
        {% set pictureUrl = "/media/species/#{pictureName}.jpg" %}
    {% endif %}
    {% if row_start > 0 and column_start > 2 %}
        <a href="" class="stade-marker {{ stades_css_classes[obsStade] }}{{ obs.isMissing ? ' absence' }} open" data-year="{{ obs.obsDate|date("Y") }}" data-tab="{{ obs.user.id }}" data-open="obs-infos" data-author="{{ obs.user.displayName }}" data-stade="{{ obsStade }}{{ obs.event.stadeBbch != null ? "- stade #{obs.event.stadeBbch}" }}" data-date="Le {{ obs.obsDate|localizeddate('none', 'none', 'fr', null, 'd MMMM y') }}" style="{{ "background-image: url(#{pictureUrl}); grid-column-start: #{column_start}; grid-column-end: #{column_start + 1};grid-row-start: #{row_start}; grid-row-end: #{row_start + 1};" }}{{ hide ? 'display:none;' }}">
            <div class="stade-marker-text {{ loop.last ? 'last' }}">
                <div class="stade-text">{{ obsStade }}{{ obs.event.stadeBbch != null ? "- stade #{obs.event.stadeBbch}" }}</div>
                <div class="stade-date">Le {{ obs.obsDate|localizeddate('none', 'none', 'fr', null, 'd MMMM y') }}</div>
            </div>
        </a>
    {% endif %}
{% endfor %}