{#
    #: optionnal,
    *: required

    pagination*
        lastPage*: int
        currentPage#: int
#}
{# if lastPage = 1 pagination is not needed #}
{% if pagination is defined and pagination.lastPage is defined and pagination.lastPage > 1 %}
    {% set lastPage = pagination.lastPage %}

    {% set currentPage = pagination.currentPage is defined ? pagination.currentPage : 1 %}
    {% if currentPage > lastPage %}
        {% set currentPage = lastPage %}
    {% endif %}

    <div class="pagination-container">
        <ul class="pagination ods-list-unstyled">
            {% if currentPage > 1 %}
                <li class="page Previous"><a href="{{ routePath ~ "/#{currentPage - 1}" }}" class="left-arrow-blue-icon"></a></li>
                {% if currentPage > 2 %}
                    <li class="page"><a href="{{ routePath }}" class="">1</a></li>
                    {% if currentPage - 2 > 1 %}
                        <li class="page dots">...</li>
                    {% endif %}
                {% endif %}
                <li class="page"><a href="{{ routePath ~ "/#{currentPage - 1}" }}" class="">{{ currentPage - 1 }}</a></li>
            {% endif %}
            <li class="page current button">{{ currentPage }}</li>
            {% if currentPage < lastPage %}
                <li class="page"><a href="{{ routePath ~ "/#{currentPage + 1}" }}" class="">{{ currentPage + 1 }}</a></li>
                {% if currentPage < lastPage - 1%}
                    {% if lastPage > currentPage + 2 %}
                        <li class="page dots">...</li>
                    {% endif %}
                    <li class="page"><a href="{{ routePath ~ "/#{lastPage}" }}" class="">{{ lastPage }}</a></li>
                {% endif %}
                <li class="page next"><a href="{{ routePath ~ "/#{currentPage + 1}" }}" class="right-arrow-blue-icon"></a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
