{#
    *: required
    [int..int]: array indexes ([...] if no precise length defined)

    station*: Station
    observations*: array
        [...] Observations
#}
{% set headerImage = '' %}
{% if not show or station.latitude == null or station.longitude == null %}
    {% set headerImage = station.headerImage != null ? station.headerImage : asset('media/layout/image-placeholder.svg')%}
{% endif %}

{% set images = [] %}
{% for o in observations|filter(o => o.picture is defined and o.picture is not null) %}
    {% set images = images|merge([o.picture]) %}
{% endfor %}

<div class="hero-header">
    <div id="station-single-header-map" class="hero-header-media-part map{{ show ? ' show-map'}}" data-latitude="{{ station.latitude }}" data-longitude="{{ station.longitude }}" style="background-image:linear-gradient(180deg,rgba(131,117,105,0.3),rgba(131,117,105,0.3)),url({{ headerImage }});">
        {% if show and images|first is not empty %}
            <div class="contributions-mini-block" style="background-image: url({{ images|last }});">
                {% if images|length > 1 %}
                    <div class="contributions-number">+ {{ images|length - 1 }}</div>
                {% endif %}
            </div>
        {% endif %}

    </div>

    <div class="hero-header-content">
        <h3 class="hero-header-title"><span class="lighter">{{ station.name|capitalize }} &nbsp;•</span> &nbsp;Observations</h3>
        <p class="hero-header-subtitle">{{ station.description|default }}</p>

            {% if show %}
                <div class="hero-header-detail map">Lat. : {{ station.latitude }} &nbsp;• &nbsp;Long. : {{ station.longitude }}</div>
            {% endif %}
        <div class="hero-header-detail map">Commune : {{ station.locality }}</div>

    </div>

    {% if show %}
        <div class="member-label-block">
            <div  class="member-avatar" style="background-image: url({{ station.getUser().getAvatar()|default(asset('media/layout/icons/member_default.png')) }})"></div>
            <div class="member-label-block-content">
                <div class="member-label-block-title">Créée par</div>
                <a href="{{ app.user == station.user ? path('user_dashboard') : path('user_profile', { userId:station.user.id }) }}" class="member-label-block-link">{{ station.user.displayName }}</a>
            </div>
        </div>
    {% endif %}

    <div class="privacy-status">Station {{ station.isPrivate ? 'personnelle' : 'publique' }}</div>
    {% if app.user.id|default('none') == station.user.id or is_granted('ROLE_ADMIN') %}
        <a href="" class="button hero-header-button bt-add edit open" data-open="station"
           data-station="{{ station|getJsonSerializedEditStation }}">modifier la station</a>

        {% if is_granted('ROLE_ADMIN') and station.isDeactivated == 1 %}
            <a href="{{ path('station_reactivate', {
                stationId:station.id}) }}" class="button btn-desinscription-station">Réactiver cette station</a>
        {% elseif station.isDeactivated == 0 or station.isDeactivated is null %}
            <a href="{{ path('station_deactivate', {
                stationId:station.id}) }}" class="button btn-desinscription-station">Désactiver / Me
                désinscrire de cette station</a>
        {% endif %}


    {% endif %}
</div>
