{% set activeMenuItem = breadcrumbs is defined ? breadcrumbs|keys|first : 'homepage' %}
<div class="menu">
	<a href="/" class="site-name">
		<img src="{{ asset('media/layout/logoodstexte.png') }}" alt="" class="logo">
	</a>
	<img src="{{ asset('media/layout/icons/close.svg') }}" alt="" class="close-menu-img pointer" width="10">
	<div class="nav">
		<a href="/" class="nav-item home{{ activeMenuItem == ('homepage') ? ' active' }}">
			<div>Accueil</div>
		</a>

		{% for menuItem, menuItemTitle in constant('App\\Service\\BreadcrumbsGenerator::MENU') %}
			<a href="{{ path(menuItem) }}" class="nav-item{{ activeMenuItem == menuItem ? ' active' }}">
				<div>{{ menuItemTitle }}</div>
			</a>
		{% endfor %}

		<a href="" class="nav-item resp-connect">
			<div>Connexion</div>
		</a>
	</div>
	<div class="social-links">
		<a href="http://www.facebook.com/pages/Observatoire-des-Saisons/167300616656493" class="social-icon-link first">
			<img src="{{ asset('media/layout/icons/fcbk.svg') }}" alt="ods facebook" width="10">
		</a>
		<a href="http://twitter.com/#!/ObservSaisons" class="social-icon-link">
			<img src="{{ asset('media/layout/icons/twtr.svg') }}" alt="ods tweeter" width="20">
		</a>
		<a href="http://www.flickr.com/groups/ods/" class="social-icon-link">
			<img src="{{ asset('media/layout/icons/flickr.svg') }}" alt="ods flickr" width="25">
		</a>
	</div>
</div>
