{% set activeMenuItem = getActiveMenuItem(breadcrumbs|default([])) %}
{% set activeSubMenuItem = getActiveSubMenuItem(breadcrumbs|default([])) %}

<div class="menu">
	<a href="/" class="site-name">
		<img src="{{ asset('media/layout/logoodstexte.png') }}" alt="" class="logo">
	</a>
	<img src="{{ asset('media/layout/icons/close.svg') }}" alt="" class="close-menu-img pointer" width="10">
	<div class="nav">
		<a href="/" class="nav-item home{{ activeMenuItem == ('homepage') ? ' active' }}">
			<div>Accueil</div>
		</a>

		{% for menuItem, menuItemTitle in constant('App\\Service\\BreadcrumbsGenerator::MENU') %}
			{#    Si l'item n'existe pas dans les sous menu -> pas de dropdown        #}
			{% if menuItem == 'a-propos' or menuItem =='participer' or menuItem =='especes' or menuItem =='my_stations' %}
				<a class="nav-item{{ 'my_stations' == menuItem ? ' featured' }}{{ activeMenuItem == menuItem ? ' active' }}"
				   href="{{ path(menuItem) }}">
					{{ menuItemTitle }}
				</a>
			{% else %}
				{% if 'my_stations' != menuItem or app.user %}
					<a class="">
						<a class="nav-item{{ 'my_stations' == menuItem ? ' featured' }}{{ activeMenuItem == menuItem ? ' show' }} "
						   href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{ menuItemTitle }}
						</a>
						<div class="dropdown-menu {{ activeMenuItem == menuItem ? 'show' }}" {{ activeMenuItem == menuItem ? 'style="position: relative; inset: 0px auto auto 0px; margin: 0px;"' }}>
							<a class="dropdown-item nav-item {% if activeMenuItem == menuItem and not activeSubMenuItem %}active{% endif %}" href="{{ path(menuItem) }}">
								{{ menuItemTitle == 'résultats' ? 'généralités' :  menuItemTitle }}
							</a>
{#							<hr class="dropdown-divider">#}
							{% for subMenuItem, subMenus in constant ('App\\Service\\BreadcrumbsGenerator::SUBMENU') %}
								{% if subMenuItem == menuItem %}
									{% for subMenuPath, subMenu in subMenus %}
										<a class="dropdown-item nav-item {{ activeSubMenuItem == subMenuPath ? 'active' }} {{ activeMenuItem == subMenuPath ? ' active' }}" href="{{ path(subMenuPath) }}">{{ subMenu }}</a>
									{% endfor %}
								{% endif %}
							{% endfor %}
						</div>
					</a>
				{% endif %}
			{% endif %}
		{% endfor %}

		{% if not is_granted(constant('App\\Security\\Voter\\UserVoter::LOGGED')) %}
			<a href="{{ path('user_login') }}" class="nav-item resp-connect">
				<div>Connexion</div>
			</a>
		{% else %}
			<a href="{{ path('user_dashboard') }}" class="nav-item resp-connect">
				<div>Profil</div>
			</a>
			{% if app.user and app.user.roles[1] is defined and (app.user.roles[1] == 'ROLE_ADMIN') %}
				<a class="nav-item resp-connect" href="{{ path('home_admin') }}">Admin</a>
			{% endif %}
			<a href="{{ path('user_logout') }}" class="nav-item resp-connect">
				<div>Déconnexion</div>
			</a>
		{% endif %}
	</div>
	<div class="social-links">
		<a href="http://www.facebook.com/pages/Observatoire-des-Saisons/167300616656493" class="social-icon-link first">
			<img src="{{ asset('media/layout/icons/fcbk.svg') }}" alt="ods facebook" width="10">
		</a>
		<a href="http://twitter.com/#!/ObservSaisons" class="social-icon-link">
			<img src="{{ asset('media/layout/icons/twtr.svg') }}" alt="ods tweeter" width="20">
		</a>
		<a href="http://www.flickr.com/groups/ods/" class="social-icon-link">
			<img src="{{ asset('media/layout/icons/flickr.svg') }}" alt="ods flickr" width="25">
		</a>
	</div>
</div>
