<div class="topbar{{  app.request.attributes.get('_route') == 'accueil' ? ' home' }}">
	<div class="topbar-left">
		{% if breadcrumbs is defined %}
			{% include 'components/breadcrumbs.html.twig' %}
		{% else %}
			<h2 class="site-title">Contribuez à la recherche sur le changement climatique !</h2>
		{% endif %}
		<div class="right-links">
			<a href="{{ path('participer') }}" class="topbar-link">Comment ça marche&nbsp;?</a>
			{% if not is_granted(constant('App\\Security\\Voter\\UserVoter::LOGGED')) %}
				<a href="{{ path('user_login') }}" class="topbar-link">Connexion</a>
			{% else %}
				<a href="{{ path('user_dashboard') }}" class="topbar-link">Profil</a><br>
				<a href="{{ path('user_logout') }}" class="topbar-link">Se déconnecter</a><br>
			{% endif %}
		</div>
	</div>
	<a href="/" class="site-name responsive ods-inline-block">
		<img src="{{ asset('media/layout/logoodstexte.png') }}" alt="Observatoire des Saisons" class="logo">
		<h1 class="site-name-text">Observatoire des Saisons</h1>
	</a>
	<div class="topbar-right">
		<img id="menu-hamburger-img" src="{{ asset('media/layout/icons/menu-hamburger.svg') }}" alt="icone menu" class="menu-img" width="10">
	</div>
</div>
