<div class="topbar{{  app.request.attributes.get('_route') == 'homepage' ? ' home' }}">
	<div class="topbar-left">
		{% if breadcrumbs is defined %}
			{% include 'components/breadcrumbs.html.twig' %}
		{% else %}
			<h2 class="site-title">Contribuez à la recherche sur le changement climatique !</h2>
		{% endif %}
		<div class="right-links">
			<a href="{{ path('participer') }}" class="topbar-link">Comment ça marche&nbsp;?</a>
			{% if not is_granted(constant('App\\Security\\Voter\\UserVoter::LOGGED')) %}
				<a href="{{ path('user_login') }}" class="topbar-link">Connexion</a>
			{% else %}
				<div class="dropdown topbar-link">
					<div class="dropdown-toggle" style="cursor: pointer">
						<div class="member-avatar down-arrow-icon" style="background-image: url({{ app.user.avatar ?? '/media/layout/icons/member_default.png' }})"></div>
					</div>


					<nav class="dropdown-list profile-menu hidden" style="height: 90px;">
						<a href="{{ path('user_private_dashboard') }}" class="dropdown-link">Profil</a>
						<a href="{{ path('user_logout') }}" class="dropdown-link">Se déconnecter</a>
					</nav>
				</div>
			{% endif %}
		</div>
	</div>
	<a href="/" class="site-name responsive ods-inline-block">
		<img src="{{ asset('media/layout/logoodstexte.png') }}" alt="Observatoire des Saisons" class="logo">
		<h1 class="site-name-text">Observatoire des Saisons</h1>
	</a>
	<div class="topbar-right">
		<img id="menu-hamburger-img" src="{{ asset('media/layout/icons/menu-hamburger.svg') }}" alt="icone menu" class="menu-img" width="10">
	</div>
</div>
