<div class="topbar{{  app.request.attributes.get('_route') == 'homepage' ? ' home' }}">
	<div class="topbar-left">
		{% if breadcrumbs is defined %}
			{% include 'components/breadcrumbs.html.twig' %}
		{% else %}
			<h2 class="site-title">Contribuez à la recherche sur le changement climatique !</h2>
		{% endif %}
		<div class="right-links">
			{% if app.user and app.user.roles[1] is defined and (app.user.roles[1] == 'ROLE_ADMIN') %}
			<div>
				<a href="{{ path('home_admin') }}"><img src="{{ asset('media/layout/icons/admin-generic.svg') }}" alt="admin_page" width="64"
					 height="64" title="admin_logo">
				</a>
			</div>
			{%  endif %}
			{% if is_granted('ROLE_RELAY') %}
			<div>
				<a href="{{ path('relay_home_page') }}"><img src="{{ asset('media/layout/icons/relay.svg') }}" alt="relay_page" width="64"
					 height="64" title="relay_logo">
				</a>
			</div>
			{% endif %}
			{% if not is_granted(constant('App\\Security\\Voter\\UserVoter::LOGGED')) %}
				<a href="{{ path('user_login') }}" class="topbar-link">Connexion</a>
			{% else %}
				<div class="profile-menu-container topbar-link">
					<div class="profile-menu-button">
						<div class="member-avatar down-arrow-icon" style="background-image: url({{ app.user.avatar ?? '/media/layout/icons/member_default.png' }})"></div>
					</div>


					<nav class="profile-menu">
						<a href="{{ path('user_dashboard') }}" class="profile-menu-link">Profil</a>
						<div class="hr"></div>
						<a href="{{ path('user_logout') }}" class="profile-menu-link">Se déconnecter</a>
					</nav>
				</div>
			{% endif %}
		</div>
	</div>
	<a href="/" class="site-name responsive ods-inline-block">
		<img src="{{ asset('media/layout/logoodstexte.png') }}" alt="Observatoire des Saisons" class="logo">
		<h1 class="site-name-text">Observatoire des Saisons</h1>
	</a>
	<div class="topbar-right">
		<img id="menu-hamburger-img" src="{{ asset('media/layout/icons/menu-hamburger.svg') }}" alt="icone menu" class="menu-img" width="10">
	</div>
</div>
